* {
	text-decoration: none;
	text-underline: none;
	outline: none;
}

body {
	margin: 0;
	padding: 1rem 1.5rem;
	width: 19rem;
	height: 6rem;
}

.title,
.title > a {
	display: flex;
	justify-items: center;
	align-items: center;
}

.title > * {
	display: inline;
}

.title > h1 {
	margin: 0 .5rem;
	white-space: nowrap;
}

.title > img,
.title > a > img {
	margin: auto 0;
	width: 1.5rem;
	height: 1.5rem;
}

tr {
	padding: 0;
}

td {
	padding-right: 1rem;
}

#max {
	background: none;
}

.credit {
	font-weight: 500;
}

.credit > .github--url {
	color: #007393;
}